<HTML>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <style>
            .content {
              max-width: 1100px;
              margin: auto;
            }
            .header {
padding: 60px;
text-align: center;
background: #c7c6c6;
color: white;
font-size: 30px;
}
            </style>
  <BODY>
      <div class="content">
          <div class="header">
              <H2>ADMIN LOGIN</H2>
              
            </div> 
  <FORM enctype='application/json' method="POST" action="" >
  
  
  User Name:
  <BR><INPUT TYPE="TEXT" NAME="uname" id="uname" SIZE="16">
  <BR><BR>
  Password:
  <BR><INPUT TYPE="PASSWORD" NAME="pswd" id="pswd"SIZE="16">
  <BR><BR> <BR><BR>
  <INPUT TYPE="SUBMIT" VALUE="Submit">
  </FORM>
  </div>
  </BODY>
  </HTML>

  